.wp-block-rabbit-lyrics-lyrics.rabbit-lyrics {
	border: 1px solid currentColor;
	background: transparent;
	scrollbar-color: rgba(0, 0, 0, 0.2) rgba(0, 0, 0, 0.1);
}

.wp-block-rabbit-lyrics-lyrics.rabbit-lyrics::-webkit-scrollbar {
	width: 6px;
	background-color: rgba(0, 0, 0, 0.1);
}

.wp-block-rabbit-lyrics-lyrics.rabbit-lyrics::-webkit-scrollbar-thumb {
	background-color: rgba(0, 0, 0, 0.2);
}

.wp-block-rabbit-lyrics-lyrics .rabbit-lyrics__line--active {
	background-color: rgba(0, 0, 0, 0.1);
}

html.is-dark-theme .wp-block-rabbit-lyrics-lyrics.rabbit-lyrics {
	scrollbar-color: rgba(255, 255, 255, 0.2) rgba(255, 255, 255, 0.1);
}

html.is-dark-theme
	.wp-block-rabbit-lyrics-lyrics.rabbit-lyrics::-webkit-scrollbar {
	width: 6px;
	background-color: rgba(255, 255, 255, 0.1);
}

html.is-dark-theme
	.wp-block-rabbit-lyrics-lyrics.rabbit-lyrics::-webkit-scrollbar-thumb {
	background-color: rgba(255, 255, 255, 0.2);
}

html.is-dark-theme .wp-block-rabbit-lyrics-lyrics .rabbit-lyrics__line--active {
	background-color: rgba(255, 255, 255, 0.1);
}
